@import "tailwindcss";

@theme inline {
  --font-quantico: var(--font-quantico);
  --font-inter: var(--font-inter);
}

@layer base {
  body {
    background-color: #050B14;
    color: #e2e8f0;
    font-family: var(--font-inter);
  }
}
